.custom-calendar-root {
  position: relative;
  z-index: 0;
  .custom-calendar-container {
    .ant-picker-content {
      border-collapse: separate;
      border-spacing: 8px;
      tr {
        td {
          .ant-picker-cell-inner {
            margin: 0;
            border: 1px solid var(--neutral-200);
            border-radius: 6px;
          }
        }
      }
    }
    .ant-picker-calendar-header {
      .ant-select-selector {
        min-width: 150px;
      }
    }
  }
  .hide-year {
    .ant-picker-calendar-mode-switch {
      display: none;
    }
  }
  .is-calendar-loading {
    opacity: 0.2 !important;
  }
  .is-calendar-empty {
    .ant-picker-panel {
      opacity: 0.2 !important;
    }
  }
  .custom-calendar-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
